<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="LoteParado" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/monitoracaoLoteParado.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss,} %5p [%-7c{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="LoteRetorno" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/monitoracaoRetornoLote.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss,} %5p [%-7c{1}] - %m%n" />
		</layout>
	</appender>


	<logger name="br.com.cielo.monitoracao.lote.launcher.MonitoracaoLoteParado">
		<level value="INFO" />
		<appender-ref ref="LoteParado" />
	</logger>

	<logger name="br.com.cielo.monitoracao.lote.launcher.MonitoracaoRetornoLote">
		<level value="INFO" />
		<appender-ref ref="LoteRetorno" />
	</logger>

</log4j:configuration>